# BART Ridership 2018 data

## Clean the raw data

In [1]:
# Dependencies
import os
import pandas as pd
import numpy as np
from functools import reduce

In [2]:
# List down the files
path = "Data/"

files = os.listdir(path) # shows the files in the Data folder
files.sort() # sort the file by order of month (based on file name)
files # preview the files list

['Ridership_201801.xlsx',
 'Ridership_201802.xlsx',
 'Ridership_201803.xlsx',
 'Ridership_201804.xlsx',
 'Ridership_201805.xlsx',
 'Ridership_201806.xlsx',
 'Ridership_201807.xlsx',
 'Ridership_201808.xlsx',
 'Ridership_201809.xlsx',
 'Ridership_201810.xlsx',
 'Ridership_201811.xlsx',
 'Ridership_201812.xlsx']

In [3]:
# Create a list of dataframes arranged by month
df_list = [pd.read_excel(path + file) for file in files]

# Create a list of year-month based on the file names
filenames = [filename[10:14] + "-" + filename[14:16] for filename in files]

In [4]:
# Create an empty list that will be populated by the data with converted column headers
df_list2 = []

# Create a for-loop that cleans each of the original dataframes
for df in df_list:
    
    # Assign the top row of the original dataframe as the column header
    df.columns = df.iloc[0] 
    
    # The dataframe values come from row 1 onwards, removing the last row ("total entries")
    df = df[1:-1] 
    
    # Remove the "Exits" column
    df = df.drop("Exits", axis = 1) 
    
    # Call the first column "Exit_Station"
    df = df.rename(columns = {np.nan: "Exit_Station"}) 
    
    # Add each df to the df_list2 list
    df_list2.append(df)

# Preview the list
df_list2[0].head()

,Exit_Station,RM,EN,EP,NB,BK,AS,MA,19.0,12.0,...,ED,NC,WP,SS,SB,SO,MB,WD,OA,WS
1,RM,12.7619,108.619,81.9048,64.9524,365.619,101.571,138.048,149.190476,180.095238,...,16.0476,2.19048,35,12.1905,18.9048,58.7143,26.6667,7.61905,12.3333,7.47619
2,EN,131.952,20.3333,91.2857,95.7619,825.857,139.381,261.619,471.476190,562.285714,...,27.0476,5.57143,26.5714,34.0952,42.619,113.619,71.1905,13.2857,30.9048,26.4762
3,EP,86.4286,81.381,12.8571,46.9048,659.19,83.0476,133.762,298.000000,336.333333,...,14.7143,3.66667,11.1905,10.2857,11.1429,60.3333,31.8095,7.47619,24.7143,11
4,NB,72.381,87.1429,51.0476,15.619,199.619,61.3333,91.1905,285.190476,249.333333,...,14.1429,3.28571,16.2381,7.85714,9.80952,91.381,35.8095,8,30.7619,16.5714
5,BK,405.619,897.095,667.81,208,35.619,360.762,361.905,562.285714,528.428571,...,109.714,49.1429,113.048,34.4286,39.2381,179.905,139.095,48.5238,73.5238,78.381

In [5]:
# Define the function "pivot" which unpivots the dataframe to three columns
# NB: list(df.columns[1:]) = create a list of column headers excluding "Exit_Station"
def unpivot(df):
    transformed_df = pd.melt(df, id_vars = ["Exit_Station"], 
                             value_vars = list(df.columns[1:]), 
                             var_name = "Entry_Station") # name for new column
    return transformed_df

In [6]:
# Create a new list of dataframes containing transformed data (exit, entry, avg values)
df_list3 = [unpivot(df) for df in df_list2]

In [7]:
# Create a new list
df_list4 = []

# Rename the "value" column using the ith item in the filenames list
for i in range(len(filenames)):
    value_renamed = df_list3[i].rename(columns = {"value": filenames[i]})
    df_list4.append(value_renamed)

# View the new dataframe list
df_list4

[     Exit_Station Entry_Station  2018-01
 0              RM            RM  12.7619
 1              EN            RM  131.952
 2              EP            RM  86.4286
 3              NB            RM   72.381
 4              BK            RM  405.619
 5              AS            RM  105.048
 6              MA            RM  154.143
 7              19            RM  162.905
 8              12            RM  203.238
 9              LM            RM  36.4762
 10             FV            RM  91.1429
 11             CL            RM  60.3333
 12             SL            RM   33.381
 13             BF            RM  20.5714
 14             HY            RM  41.4762
 15             SH            RM  18.6667
 16             UC            RM   17.381
 17             FM            RM  32.0476
 18             CN            RM  23.8571
 19             PH            RM  18.4762
 20             WC            RM  20.1429
 21             LF            RM  5.09524
 22             OR            RM  9.38095
 23             RR            RM  23.7143
 24             OW            RM  22.7143
 25             EM            RM  485.143
 26             MT            RM  485.333
 27             PL            RM  364.714
 28             CC            RM  323.476
 29             16            RM  150.524
 ...           ...           ...      ...
 2086           UC            WS  38.3333
 2087           FM            WS   40.381
 2088           CN            WS  9.57143
 2089           PH            WS   9.7619
 2090           WC            WS  7.38095
 2091           LF            WS  1.61905
 2092           OR            WS  3.14286
 2093           RR            WS  9.71429
 2094           OW            WS  12.5238
 2095           EM            WS  761.238
 2096           MT            WS  691.667
 2097           PL            WS  228.095
 2098           CC            WS  235.857
 2099           16            WS  48.7143
 2100           24            WS  23.8571
 2101           GP            WS  10.7143
 2102           BP            WS  11.6667
 2103           DC            WS  24.4286
 2104           CM            WS  2.09524
 2105           CV            WS  11.1429
 2106           ED            WS  17.8095
 2107           NC            WS  3.28571
 2108           WP            WS   21.619
 2109           SS            WS  1.66667
 2110           SB            WS  1.95238
 2111           SO            WS  10.9048
 2112           MB            WS  1.14286
 2113           WD            WS  5.19048
 2114           OA            WS  5.66667
 2115           WS            WS  25.8095

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-02
 0              RM            RM   16.0526
 1              EN            RM   135.211
 2              EP            RM        93
 3              NB            RM   74.7368
 4              BK            RM   473.263
 5              AS            RM   115.211
 6              MA            RM   152.789
 7              19            RM   173.947
 8              12            RM   218.263
 9              LM            RM   47.7368
 10             FV            RM   96.7368
 11             CL            RM   65.1579
 12             SL            RM   34.0526
 13             BF            RM   22.0526
 14             HY            RM   40.4211
 15             SH            RM   17.4737
 16             UC            RM   17.2105
 17             FM            RM   35.5789
 18             CN            RM   24.1579
 19             PH            RM   16.5263
 20             WC            RM   25.0526
 21             LF            RM   6.84211
 22             OR            RM   8.73684
 23             RR            RM   25.5263
 24             OW            RM   25.5789
 25             EM            RM   492.684
 26             MT            RM   485.632
 27             PL            RM   377.263
 28             CC            RM   326.842
 29             16            RM   161.368
 ...           ...           ...       ...
 2086           UC            WS   36.0526
 2087           FM            WS   44.4737
 2088           CN            WS   10.3684
 2089           PH            WS   7.36842
 2090           WC            WS   7.10526
 2091           LF            WS   1.84211
 2092           OR            WS   2.94737
 2093           RR            WS   8.57895
 2094           OW            WS   12.4737
 2095           EM            WS   746.895
 2096           MT            WS   726.368
 2097           PL            WS   244.579
 2098           CC            WS   238.579
 2099           16            WS   49.1579
 2100           24            WS   22.8947
 2101           GP            WS   9.10526
 2102           BP            WS   15.1579
 2103           DC            WS   37.3158
 2104           CM            WS   1.94737
 2105           CV            WS   13.1579
 2106           ED            WS   19.5263
 2107           NC            WS   3.10526
 2108           WP            WS   19.8947
 2109           SS            WS   1.73684
 2110           SB            WS   1.89474
 2111           SO            WS   10.9474
 2112           MB            WS  0.789474
 2113           WD            WS   6.89474
 2114           OA            WS   8.84211
 2115           WS            WS   29.3158

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-03
 0              RM            RM        17
 1              EN            RM   126.136
 2              EP            RM   84.5909
 3              NB            RM   69.0909
 4              BK            RM   449.636
 5              AS            RM   114.273
 6              MA            RM   137.818
 7              19            RM   168.636
 8              12            RM   211.773
 9              LM            RM   42.7273
 10             FV            RM   90.2727
 11             CL            RM   68.8182
 12             SL            RM   36.6818
 13             BF            RM   19.6818
 14             HY            RM   36.5455
 15             SH            RM   18.6364
 16             UC            RM   18.2273
 17             FM            RM   31.5455
 18             CN            RM      21.5
 19             PH            RM   16.5455
 20             WC            RM   23.5455
 21             LF            RM   6.36364
 22             OR            RM   8.36364
 23             RR            RM   24.7273
 24             OW            RM   23.6364
 25             EM            RM   517.091
 26             MT            RM       489
 27             PL            RM   381.636
 28             CC            RM   325.364
 29             16            RM   154.273
 ...           ...           ...       ...
 2086           UC            WS   38.0909
 2087           FM            WS   41.0455
 2088           CN            WS   10.8636
 2089           PH            WS   10.3636
 2090           WC            WS   7.22727
 2091           LF            WS   2.40909
 2092           OR            WS   3.59091
 2093           RR            WS   8.72727
 2094           OW            WS   11.1818
 2095           EM            WS       758
 2096           MT            WS   736.091
 2097           PL            WS   238.909
 2098           CC            WS   224.045
 2099           16            WS   51.2273
 2100           24            WS   24.2727
 2101           GP            WS   10.7273
 2102           BP            WS   10.5909
 2103           DC            WS        30
 2104           CM            WS   1.95455
 2105           CV            WS   12.1818
 2106           ED            WS   20.0909
 2107           NC            WS         3
 2108           WP            WS   23.2273
 2109           SS            WS   1.81818
 2110           SB            WS   2.04545
 2111           SO            WS   14.7273
 2112           MB            WS  0.681818
 2113           WD            WS   5.86364
 2114           OA            WS   10.4545
 2115           WS            WS   27.9545

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-04
 0              RM            RM   13.9048
 1              EN            RM   121.714
 2              EP            RM   85.9048
 3              NB            RM   70.9048
 4              BK            RM   438.524
 5              AS            RM   105.476
 6              MA            RM    141.81
 7              19            RM   157.571
 8              12            RM    202.81
 9              LM            RM   39.2381
 10             FV            RM   89.8095
 11             CL            RM    79.381
 12             SL            RM   33.3333
 13             BF            RM   19.7143
 14             HY            RM   40.9524
 15             SH            RM   17.2857
 16             UC            RM   17.1905
 17             FM            RM    34.381
 18             CN            RM   22.1429
 19             PH            RM   14.6667
 20             WC            RM   23.4286
 21             LF            RM   6.95238
 22             OR            RM   7.52381
 23             RR            RM   24.5714
 24             OW            RM   23.7143
 25             EM            RM    525.81
 26             MT            RM       464
 27             PL            RM   378.762
 28             CC            RM   325.619
 29             16            RM   154.476
 ...           ...           ...       ...
 2086           UC            WS   42.3333
 2087           FM            WS   37.5238
 2088           CN            WS   9.19048
 2089           PH            WS   10.9524
 2090           WC            WS   9.28571
 2091           LF            WS   1.38095
 2092           OR            WS   2.90476
 2093           RR            WS   8.66667
 2094           OW            WS   12.3333
 2095           EM            WS   781.667
 2096           MT            WS   735.667
 2097           PL            WS    266.81
 2098           CC            WS   221.476
 2099           16            WS   44.8095
 2100           24            WS   23.0952
 2101           GP            WS        12
 2102           BP            WS   10.9524
 2103           DC            WS   34.9048
 2104           CM            WS  0.904762
 2105           CV            WS   14.4286
 2106           ED            WS   19.4286
 2107           NC            WS   2.52381
 2108           WP            WS        21
 2109           SS            WS   1.95238
 2110           SB            WS    1.7619
 2111           SO            WS   14.7619
 2112           MB            WS  0.809524
 2113           WD            WS   6.80952
 2114           OA            WS   10.6667
 2115           WS            WS        27

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-05
 0              RM            RM   15.3182
 1              EN            RM   122.591
 2              EP            RM   94.2273
 3              NB            RM   74.3636
 4              BK            RM   406.636
 5              AS            RM   107.455
 6              MA            RM   150.682
 7              19            RM   173.545
 8              12            RM   206.955
 9              LM            RM   40.0455
 10             FV            RM   94.2273
 11             CL            RM   84.6364
 12             SL            RM   33.7727
 13             BF            RM   21.4091
 14             HY            RM   35.8636
 15             SH            RM   18.5909
 16             UC            RM   17.2727
 17             FM            RM   35.8636
 18             CN            RM   21.7727
 19             PH            RM        16
 20             WC            RM   26.8636
 21             LF            RM   6.77273
 22             OR            RM         6
 23             RR            RM   27.6818
 24             OW            RM   22.8182
 25             EM            RM   511.727
 26             MT            RM   445.591
 27             PL            RM   358.909
 28             CC            RM   312.409
 29             16            RM   148.318
 ...           ...           ...       ...
 2470           WC            AN   10.6818
 2471           LF            AN         2
 2472           OR            AN  0.909091
 2473           RR            AN   4.45455
 2474           OW            AN         2
 2475           EM            AN   61.8182
 2476           MT            AN   49.3636
 2477           PL            AN   29.2273
 2478           CC            AN   29.5909
 2479           16            AN   8.72727
 2480           24            AN   8.36364
 2481           GP            AN   3.86364
 2482           BP            AN   3.72727
 2483           DC            AN   4.31818
 2484           CM            AN   1.40909
 2485           CV            AN  0.545455
 2486           ED            AN  0.409091
 2487           NC            AN       1.5
 2488           WP            AN   3.72727
 2489           SS            AN   2.40909
 2490           SB            AN   2.09091
 2491           SO            AN   9.31818
 2492           MB            AN   2.27273
 2493           WD            AN  0.318182
 2494           OA            AN   3.40909
 2495           WS            AN  0.772727
 2496           ML            AN         0
 2497           BE            AN         0
 2498           PC            AN   2.54545
 2499           AN            AN         3

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-06
 0              RM            RM  13.9048
 1              EN            RM  122.476
 2              EP            RM  86.9048
 3              NB            RM   62.381
 4              BK            RM  410.571
 5              AS            RM  109.524
 6              MA            RM  138.762
 7              19            RM  205.333
 8              12            RM  228.857
 9              LM            RM  43.1429
 10             FV            RM  92.5238
 11             CL            RM  76.2857
 12             SL            RM  33.9048
 13             BF            RM  25.2381
 14             HY            RM  27.6667
 15             SH            RM  19.0476
 16             UC            RM  18.8571
 17             FM            RM  33.2857
 18             CN            RM  22.9048
 19             PH            RM  16.3333
 20             WC            RM  22.2381
 21             LF            RM  7.28571
 22             OR            RM  9.09524
 23             RR            RM  25.3333
 24             OW            RM  23.0476
 25             EM            RM  530.524
 26             MT            RM  475.286
 27             PL            RM  382.857
 28             CC            RM  316.857
 29             16            RM  161.524
 ...           ...           ...      ...
 2470           WC            AN  90.0952
 2471           LF            AN  14.3333
 2472           OR            AN  9.04762
 2473           RR            AN  27.6667
 2474           OW            AN  18.0476
 2475           EM            AN  502.333
 2476           MT            AN  350.095
 2477           PL            AN  238.571
 2478           CC            AN  223.095
 2479           16            AN  79.6667
 2480           24            AN  53.6667
 2481           GP            AN  26.0952
 2482           BP            AN  31.6667
 2483           DC            AN  36.2857
 2484           CM            AN  14.9048
 2485           CV            AN  1.19048
 2486           ED            AN  5.85714
 2487           NC            AN  19.1905
 2488           WP            AN  27.2857
 2489           SS            AN  23.2381
 2490           SB            AN   19.619
 2491           SO            AN  93.0476
 2492           MB            AN  15.0952
 2493           WD            AN   3.2381
 2494           OA            AN  18.2381
 2495           WS            AN        8
 2496           ML            AN        0
 2497           BE            AN        0
 2498           PC            AN  19.2857
 2499           AN            AN  31.0476

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-07
 0              RM            RM  15.2381
 1              EN            RM  119.381
 2              EP            RM   81.619
 3              NB            RM  61.8571
 4              BK            RM  432.619
 5              AS            RM  102.429
 6              MA            RM  137.905
 7              19            RM  167.619
 8              12            RM  215.381
 9              LM            RM  37.5714
 10             FV            RM       89
 11             CL            RM  71.9524
 12             SL            RM  35.7619
 13             BF            RM       21
 14             HY            RM   27.381
 15             SH            RM  22.3333
 16             UC            RM  18.2381
 17             FM            RM  31.1429
 18             CN            RM  21.6667
 19             PH            RM  15.0476
 20             WC            RM  25.4762
 21             LF            RM  7.52381
 22             OR            RM  10.6667
 23             RR            RM  21.3333
 24             OW            RM   23.381
 25             EM            RM  534.619
 26             MT            RM  477.762
 27             PL            RM  391.429
 28             CC            RM  320.857
 29             16            RM  158.905
 ...           ...           ...      ...
 2470           WC            AN  92.8095
 2471           LF            AN  15.6667
 2472           OR            AN  7.95238
 2473           RR            AN  29.4762
 2474           OW            AN   16.619
 2475           EM            AN      479
 2476           MT            AN  362.333
 2477           PL            AN  237.714
 2478           CC            AN  221.333
 2479           16            AN  87.9524
 2480           24            AN  58.6667
 2481           GP            AN  30.1429
 2482           BP            AN  31.3333
 2483           DC            AN       38
 2484           CM            AN  13.4762
 2485           CV            AN  1.38095
 2486           ED            AN  4.85714
 2487           NC            AN  20.1905
 2488           WP            AN  25.5238
 2489           SS            AN  18.8095
 2490           SB            AN  21.9048
 2491           SO            AN  93.2857
 2492           MB            AN   15.619
 2493           WD            AN  2.42857
 2494           OA            AN  19.3333
 2495           WS            AN  7.95238
 2496           ML            AN        0
 2497           BE            AN        0
 2498           PC            AN  18.8571
 2499           AN            AN   25.619

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-08
 0              RM            RM  14.8261
 1              EN            RM  120.696
 2              EP            RM   84.087
 3              NB            RM  66.8261
 4              BK            RM  438.348
 5              AS            RM  100.217
 6              MA            RM  145.652
 7              19            RM  171.261
 8              12            RM  216.348
 9              LM            RM   40.087
 10             FV            RM  90.5217
 11             CL            RM  95.3043
 12             SL            RM  36.3913
 13             BF            RM  21.1304
 14             HY            RM  35.1739
 15             SH            RM  22.7391
 16             UC            RM  18.6957
 17             FM            RM   33.913
 18             CN            RM  21.7391
 19             PH            RM  16.3913
 20             WC            RM  24.6522
 21             LF            RM  7.47826
 22             OR            RM  9.47826
 23             RR            RM  23.6957
 24             OW            RM  21.4348
 25             EM            RM  520.826
 26             MT            RM  492.304
 27             PL            RM  392.652
 28             CC            RM  330.565
 29             16            RM  158.391

In [8]:
# Merge the 12 dataframes based on exit and entry stations
merged = reduce(lambda left, right: pd.merge(left, right, 
                                             on = ["Exit_Station", "Entry_Station"],
                                             how = "outer"), df_list4)
merged.head()

,Exit_Station,Entry_Station,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,RM,RM,12.7619,16.0526,17,13.9048,15.3182,13.9048,15.2381,14.8261,20.1053,16.2273,16.1579,16.1667
1,EN,RM,131.952,135.211,126.136,121.714,122.591,122.476,119.381,120.696,120.053,121.682,106.632,110.333
2,EP,RM,86.4286,93,84.5909,85.9048,94.2273,86.9048,81.619,84.087,88.2632,93.2727,83.4737,84.0556
3,NB,RM,72.381,74.7368,69.0909,70.9048,74.3636,62.381,61.8571,66.8261,78.6842,79.0909,68.1053,61.5556
4,BK,RM,405.619,473.263,449.636,438.524,406.636,410.571,432.619,438.348,496.105,479.864,431.158,363

In [11]:
# Transform the wide dataframe to a long one
pd.melt(merged, id_vars = ["Exit_Station", "Entry_Station"],
       value_vars = list(merged.columns[2:]), var_name = "Yr_Mo", value_name = "Avg_Weekday_")

      Exit_Station Entry_Station    Yr_Mo    value
0               RM            RM  2018-01  12.7619
1               EN            RM  2018-01  131.952
2               EP            RM  2018-01  86.4286
3               NB            RM  2018-01   72.381
4               BK            RM  2018-01  405.619
5               AS            RM  2018-01  105.048
6               MA            RM  2018-01  154.143
7               19            RM  2018-01  162.905
8               12            RM  2018-01  203.238
9               LM            RM  2018-01  36.4762
10              FV            RM  2018-01  91.1429
11              CL            RM  2018-01  60.3333
12              SL            RM  2018-01   33.381
13              BF            RM  2018-01  20.5714
14              HY            RM  2018-01  41.4762
15              SH            RM  2018-01  18.6667
16              UC            RM  2018-01   17.381
17              FM            RM  2018-01  32.0476
18              CN            RM  2018-01  23.8571
19              PH            RM  2018-01  18.4762
20              WC            RM  2018-01  20.1429
21              LF            RM  2018-01  5.09524
22              OR            RM  2018-01  9.38095
23              RR            RM  2018-01  23.7143
24              OW            RM  2018-01  22.7143
25              EM            RM  2018-01  485.143
26              MT            RM  2018-01  485.333
27              PL            RM  2018-01  364.714
28              CC            RM  2018-01  323.476
29              16            RM  2018-01  150.524
...            ...           ...      ...      ...
29970           WC            AN  2018-12  93.3889
29971           LF            AN  2018-12       15
29972           OR            AN  2018-12  9.44444
29973           RR            AN  2018-12  32.2222
29974           OW            AN  2018-12  20.2778
29975           EM            AN  2018-12  464.389
29976           MT            AN  2018-12  360.889
29977           PL            AN  2018-12  254.278
29978           CC            AN  2018-12    213.5
29979           16            AN  2018-12  82.0556
29980           24            AN  2018-12  57.8333
29981           GP            AN  2018-12  30.2222
29982           BP            AN  2018-12  38.1667
29983           DC            AN  2018-12  71.3889
29984           CM            AN  2018-12  13.4444
29985           CV            AN  2018-12  1.55556
29986           ED            AN  2018-12  4.05556
29987           NC            AN  2018-12  20.7222
29988           WP            AN  2018-12  26.7778
29989           SS            AN  2018-12  19.1111
29990           SB            AN  2018-12  22.7778
29991           SO            AN  2018-12  89.8889
29992           MB            AN  2018-12       18
29993           WD            AN  2018-12  2.44444
29994           OA            AN  2018-12  16.6667
29995           WS            AN  2018-12  13.3889
29996           ML            AN  2018-12        0
29997           BE            AN  2018-12        0
29998           PC            AN  2018-12  24.0556
29999           AN            AN  2018-12  24.0556

[30000 rows x 4 columns]

## Import the dataframe to a mySQL database