# BART Ridership 2018 data processing

## Export the raw data

In [1]:
# Dependencies for data munging
import os
import re
import pandas as pd
import numpy as np
from functools import reduce
import itertools
from datetime import datetime
import calendar

# Dependencies for data loading to database
from sqlalchemy import create_engine
from config import password
import pymysql
pymysql.install_as_MySQLdb()

# Add an encoder for numpy.float64
# Resource: https://stackoverflow.com/a/52949184
pymysql.converters.encoders[np.float64] = pymysql.converters.escape_float
pymysql.converters.conversions = pymysql.converters.encoders.copy()
pymysql.converters.conversions.update(pymysql.converters.decoders)

# Dependencies for API data requests
import requests
import json

In [2]:
# List down the files
path = "Data/"

files = os.listdir(path) # show the files in the Data folder
r = re.compile("Ridership*") # filter the files for those whose names include Ridership
files2 = list(filter(r.match, files)) # create a list of files matching the criterion r
files2.sort() # sort the file by order of month (based on file name)
files2 # preview the files list

['Ridership_201801.xlsx',
 'Ridership_201802.xlsx',
 'Ridership_201803.xlsx',
 'Ridership_201804.xlsx',
 'Ridership_201805.xlsx',
 'Ridership_201806.xlsx',
 'Ridership_201807.xlsx',
 'Ridership_201808.xlsx',
 'Ridership_201809.xlsx',
 'Ridership_201810.xlsx',
 'Ridership_201811.xlsx',
 'Ridership_201812.xlsx']

In [3]:
# Create a list of dataframes arranged by month
df_list = [pd.read_excel(path + file) for file in files2]

# Create a list of year-month based on the file names
filenames = [filename[10:14] + "-" + filename[14:16] for filename in files2]

## Transform the raw data

In [4]:
# Create an empty list that will be populated by the data with converted column headers
df_list2 = []

# Create a for-loop that cleans each of the original dataframes
for df in df_list:
    
    # Assign the top row of the original dataframe as the column header
    df.columns = df.iloc[0] 
    
    # The dataframe values come from row 1 onwards, removing the last row ("total entries")
    df = df[1:-1] 
    
    # Remove the "Exits" column
    df = df.drop("Exits", axis = 1) 
    
    # Call the first column "Exit_Station"
    df = df.rename(columns = {np.nan: "Exit_Station"}) 
    
    # Add each df to the df_list2 list
    df_list2.append(df)

# Preview the list
df_list2[0].head()

,Exit_Station,RM,EN,EP,NB,BK,AS,MA,19.0,12.0,...,ED,NC,WP,SS,SB,SO,MB,WD,OA,WS
1,RM,12.7619,108.619,81.9048,64.9524,365.619,101.571,138.048,149.190476,180.095238,...,16.0476,2.19048,35,12.1905,18.9048,58.7143,26.6667,7.61905,12.3333,7.47619
2,EN,131.952,20.3333,91.2857,95.7619,825.857,139.381,261.619,471.476190,562.285714,...,27.0476,5.57143,26.5714,34.0952,42.619,113.619,71.1905,13.2857,30.9048,26.4762
3,EP,86.4286,81.381,12.8571,46.9048,659.19,83.0476,133.762,298.000000,336.333333,...,14.7143,3.66667,11.1905,10.2857,11.1429,60.3333,31.8095,7.47619,24.7143,11
4,NB,72.381,87.1429,51.0476,15.619,199.619,61.3333,91.1905,285.190476,249.333333,...,14.1429,3.28571,16.2381,7.85714,9.80952,91.381,35.8095,8,30.7619,16.5714
5,BK,405.619,897.095,667.81,208,35.619,360.762,361.905,562.285714,528.428571,...,109.714,49.1429,113.048,34.4286,39.2381,179.905,139.095,48.5238,73.5238,78.381

In [5]:
# Define the function "pivot" which unpivots the dataframe to three columns
# NB: list(df.columns[1:]) = create a list of column headers excluding "Exit_Station"
def unpivot(df):
    transformed_df = pd.melt(df, id_vars = ["Exit_Station"], 
                             value_vars = list(df.columns[1:]), 
                             var_name = "Entry_Station") # name for new column
    return transformed_df

In [6]:
# Create a new list of dataframes containing transformed data (exit, entry, avg values)
df_list3 = [unpivot(df) for df in df_list2]

In [7]:
# Create a new list
df_list4 = []

# Rename the "value" column using the ith item in the filenames list
for i in range(len(filenames)):
    value_renamed = df_list3[i].rename(columns = {"value": filenames[i]})
    df_list4.append(value_renamed)

# View the new dataframe list
df_list4

[     Exit_Station Entry_Station  2018-01
 0              RM            RM  12.7619
 1              EN            RM  131.952
 2              EP            RM  86.4286
 3              NB            RM   72.381
 4              BK            RM  405.619
 5              AS            RM  105.048
 6              MA            RM  154.143
 7              19            RM  162.905
 8              12            RM  203.238
 9              LM            RM  36.4762
 10             FV            RM  91.1429
 11             CL            RM  60.3333
 12             SL            RM   33.381
 13             BF            RM  20.5714
 14             HY            RM  41.4762
 15             SH            RM  18.6667
 16             UC            RM   17.381
 17             FM            RM  32.0476
 18             CN            RM  23.8571
 19             PH            RM  18.4762
 20             WC            RM  20.1429
 21             LF            RM  5.09524
 22             OR            RM  9.38095
 23             RR            RM  23.7143
 24             OW            RM  22.7143
 25             EM            RM  485.143
 26             MT            RM  485.333
 27             PL            RM  364.714
 28             CC            RM  323.476
 29             16            RM  150.524
 ...           ...           ...      ...
 2086           UC            WS  38.3333
 2087           FM            WS   40.381
 2088           CN            WS  9.57143
 2089           PH            WS   9.7619
 2090           WC            WS  7.38095
 2091           LF            WS  1.61905
 2092           OR            WS  3.14286
 2093           RR            WS  9.71429
 2094           OW            WS  12.5238
 2095           EM            WS  761.238
 2096           MT            WS  691.667
 2097           PL            WS  228.095
 2098           CC            WS  235.857
 2099           16            WS  48.7143
 2100           24            WS  23.8571
 2101           GP            WS  10.7143
 2102           BP            WS  11.6667
 2103           DC            WS  24.4286
 2104           CM            WS  2.09524
 2105           CV            WS  11.1429
 2106           ED            WS  17.8095
 2107           NC            WS  3.28571
 2108           WP            WS   21.619
 2109           SS            WS  1.66667
 2110           SB            WS  1.95238
 2111           SO            WS  10.9048
 2112           MB            WS  1.14286
 2113           WD            WS  5.19048
 2114           OA            WS  5.66667
 2115           WS            WS  25.8095

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-02
 0              RM            RM   16.0526
 1              EN            RM   135.211
 2              EP            RM        93
 3              NB            RM   74.7368
 4              BK            RM   473.263
 5              AS            RM   115.211
 6              MA            RM   152.789
 7              19            RM   173.947
 8              12            RM   218.263
 9              LM            RM   47.7368
 10             FV            RM   96.7368
 11             CL            RM   65.1579
 12             SL            RM   34.0526
 13             BF            RM   22.0526
 14             HY            RM   40.4211
 15             SH            RM   17.4737
 16             UC            RM   17.2105
 17             FM            RM   35.5789
 18             CN            RM   24.1579
 19             PH            RM   16.5263
 20             WC            RM   25.0526
 21             LF            RM   6.84211
 22             OR            RM   8.73684
 23             RR            RM   25.5263
 24             OW            RM   25.5789
 25             EM            RM   492.684
 26             MT            RM   485.632
 27             PL            RM   377.263
 28             CC            RM   326.842
 29             16            RM   161.368
 ...           ...           ...       ...
 2086           UC            WS   36.0526
 2087           FM            WS   44.4737
 2088           CN            WS   10.3684
 2089           PH            WS   7.36842
 2090           WC            WS   7.10526
 2091           LF            WS   1.84211
 2092           OR            WS   2.94737
 2093           RR            WS   8.57895
 2094           OW            WS   12.4737
 2095           EM            WS   746.895
 2096           MT            WS   726.368
 2097           PL            WS   244.579
 2098           CC            WS   238.579
 2099           16            WS   49.1579
 2100           24            WS   22.8947
 2101           GP            WS   9.10526
 2102           BP            WS   15.1579
 2103           DC            WS   37.3158
 2104           CM            WS   1.94737
 2105           CV            WS   13.1579
 2106           ED            WS   19.5263
 2107           NC            WS   3.10526
 2108           WP            WS   19.8947
 2109           SS            WS   1.73684
 2110           SB            WS   1.89474
 2111           SO            WS   10.9474
 2112           MB            WS  0.789474
 2113           WD            WS   6.89474
 2114           OA            WS   8.84211
 2115           WS            WS   29.3158

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-03
 0              RM            RM        17
 1              EN            RM   126.136
 2              EP            RM   84.5909
 3              NB            RM   69.0909
 4              BK            RM   449.636
 5              AS            RM   114.273
 6              MA            RM   137.818
 7              19            RM   168.636
 8              12            RM   211.773
 9              LM            RM   42.7273
 10             FV            RM   90.2727
 11             CL            RM   68.8182
 12             SL            RM   36.6818
 13             BF            RM   19.6818
 14             HY            RM   36.5455
 15             SH            RM   18.6364
 16             UC            RM   18.2273
 17             FM            RM   31.5455
 18             CN            RM      21.5
 19             PH            RM   16.5455
 20             WC            RM   23.5455
 21             LF            RM   6.36364
 22             OR            RM   8.36364
 23             RR            RM   24.7273
 24             OW            RM   23.6364
 25             EM            RM   517.091
 26             MT            RM       489
 27             PL            RM   381.636
 28             CC            RM   325.364
 29             16            RM   154.273
 ...           ...           ...       ...
 2086           UC            WS   38.0909
 2087           FM            WS   41.0455
 2088           CN            WS   10.8636
 2089           PH            WS   10.3636
 2090           WC            WS   7.22727
 2091           LF            WS   2.40909
 2092           OR            WS   3.59091
 2093           RR            WS   8.72727
 2094           OW            WS   11.1818
 2095           EM            WS       758
 2096           MT            WS   736.091
 2097           PL            WS   238.909
 2098           CC            WS   224.045
 2099           16            WS   51.2273
 2100           24            WS   24.2727
 2101           GP            WS   10.7273
 2102           BP            WS   10.5909
 2103           DC            WS        30
 2104           CM            WS   1.95455
 2105           CV            WS   12.1818
 2106           ED            WS   20.0909
 2107           NC            WS         3
 2108           WP            WS   23.2273
 2109           SS            WS   1.81818
 2110           SB            WS   2.04545
 2111           SO            WS   14.7273
 2112           MB            WS  0.681818
 2113           WD            WS   5.86364
 2114           OA            WS   10.4545
 2115           WS            WS   27.9545

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-04
 0              RM            RM   13.9048
 1              EN            RM   121.714
 2              EP            RM   85.9048
 3              NB            RM   70.9048
 4              BK            RM   438.524
 5              AS            RM   105.476
 6              MA            RM    141.81
 7              19            RM   157.571
 8              12            RM    202.81
 9              LM            RM   39.2381
 10             FV            RM   89.8095
 11             CL            RM    79.381
 12             SL            RM   33.3333
 13             BF            RM   19.7143
 14             HY            RM   40.9524
 15             SH            RM   17.2857
 16             UC            RM   17.1905
 17             FM            RM    34.381
 18             CN            RM   22.1429
 19             PH            RM   14.6667
 20             WC            RM   23.4286
 21             LF            RM   6.95238
 22             OR            RM   7.52381
 23             RR            RM   24.5714
 24             OW            RM   23.7143
 25             EM            RM    525.81
 26             MT            RM       464
 27             PL            RM   378.762
 28             CC            RM   325.619
 29             16            RM   154.476
 ...           ...           ...       ...
 2086           UC            WS   42.3333
 2087           FM            WS   37.5238
 2088           CN            WS   9.19048
 2089           PH            WS   10.9524
 2090           WC            WS   9.28571
 2091           LF            WS   1.38095
 2092           OR            WS   2.90476
 2093           RR            WS   8.66667
 2094           OW            WS   12.3333
 2095           EM            WS   781.667
 2096           MT            WS   735.667
 2097           PL            WS    266.81
 2098           CC            WS   221.476
 2099           16            WS   44.8095
 2100           24            WS   23.0952
 2101           GP            WS        12
 2102           BP            WS   10.9524
 2103           DC            WS   34.9048
 2104           CM            WS  0.904762
 2105           CV            WS   14.4286
 2106           ED            WS   19.4286
 2107           NC            WS   2.52381
 2108           WP            WS        21
 2109           SS            WS   1.95238
 2110           SB            WS    1.7619
 2111           SO            WS   14.7619
 2112           MB            WS  0.809524
 2113           WD            WS   6.80952
 2114           OA            WS   10.6667
 2115           WS            WS        27

 [2116 rows x 3 columns],      Exit_Station Entry_Station   2018-05
 0              RM            RM   15.3182
 1              EN            RM   122.591
 2              EP            RM   94.2273
 3              NB            RM   74.3636
 4              BK            RM   406.636
 5              AS            RM   107.455
 6              MA            RM   150.682
 7              19            RM   173.545
 8              12            RM   206.955
 9              LM            RM   40.0455
 10             FV            RM   94.2273
 11             CL            RM   84.6364
 12             SL            RM   33.7727
 13             BF            RM   21.4091
 14             HY            RM   35.8636
 15             SH            RM   18.5909
 16             UC            RM   17.2727
 17             FM            RM   35.8636
 18             CN            RM   21.7727
 19             PH            RM        16
 20             WC            RM   26.8636
 21             LF            RM   6.77273
 22             OR            RM         6
 23             RR            RM   27.6818
 24             OW            RM   22.8182
 25             EM            RM   511.727
 26             MT            RM   445.591
 27             PL            RM   358.909
 28             CC            RM   312.409
 29             16            RM   148.318
 ...           ...           ...       ...
 2470           WC            AN   10.6818
 2471           LF            AN         2
 2472           OR            AN  0.909091
 2473           RR            AN   4.45455
 2474           OW            AN         2
 2475           EM            AN   61.8182
 2476           MT            AN   49.3636
 2477           PL            AN   29.2273
 2478           CC            AN   29.5909
 2479           16            AN   8.72727
 2480           24            AN   8.36364
 2481           GP            AN   3.86364
 2482           BP            AN   3.72727
 2483           DC            AN   4.31818
 2484           CM            AN   1.40909
 2485           CV            AN  0.545455
 2486           ED            AN  0.409091
 2487           NC            AN       1.5
 2488           WP            AN   3.72727
 2489           SS            AN   2.40909
 2490           SB            AN   2.09091
 2491           SO            AN   9.31818
 2492           MB            AN   2.27273
 2493           WD            AN  0.318182
 2494           OA            AN   3.40909
 2495           WS            AN  0.772727
 2496           ML            AN         0
 2497           BE            AN         0
 2498           PC            AN   2.54545
 2499           AN            AN         3

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-06
 0              RM            RM  13.9048
 1              EN            RM  122.476
 2              EP            RM  86.9048
 3              NB            RM   62.381
 4              BK            RM  410.571
 5              AS            RM  109.524
 6              MA            RM  138.762
 7              19            RM  205.333
 8              12            RM  228.857
 9              LM            RM  43.1429
 10             FV            RM  92.5238
 11             CL            RM  76.2857
 12             SL            RM  33.9048
 13             BF            RM  25.2381
 14             HY            RM  27.6667
 15             SH            RM  19.0476
 16             UC            RM  18.8571
 17             FM            RM  33.2857
 18             CN            RM  22.9048
 19             PH            RM  16.3333
 20             WC            RM  22.2381
 21             LF            RM  7.28571
 22             OR            RM  9.09524
 23             RR            RM  25.3333
 24             OW            RM  23.0476
 25             EM            RM  530.524
 26             MT            RM  475.286
 27             PL            RM  382.857
 28             CC            RM  316.857
 29             16            RM  161.524
 ...           ...           ...      ...
 2470           WC            AN  90.0952
 2471           LF            AN  14.3333
 2472           OR            AN  9.04762
 2473           RR            AN  27.6667
 2474           OW            AN  18.0476
 2475           EM            AN  502.333
 2476           MT            AN  350.095
 2477           PL            AN  238.571
 2478           CC            AN  223.095
 2479           16            AN  79.6667
 2480           24            AN  53.6667
 2481           GP            AN  26.0952
 2482           BP            AN  31.6667
 2483           DC            AN  36.2857
 2484           CM            AN  14.9048
 2485           CV            AN  1.19048
 2486           ED            AN  5.85714
 2487           NC            AN  19.1905
 2488           WP            AN  27.2857
 2489           SS            AN  23.2381
 2490           SB            AN   19.619
 2491           SO            AN  93.0476
 2492           MB            AN  15.0952
 2493           WD            AN   3.2381
 2494           OA            AN  18.2381
 2495           WS            AN        8
 2496           ML            AN        0
 2497           BE            AN        0
 2498           PC            AN  19.2857
 2499           AN            AN  31.0476

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-07
 0              RM            RM  15.2381
 1              EN            RM  119.381
 2              EP            RM   81.619
 3              NB            RM  61.8571
 4              BK            RM  432.619
 5              AS            RM  102.429
 6              MA            RM  137.905
 7              19            RM  167.619
 8              12            RM  215.381
 9              LM            RM  37.5714
 10             FV            RM       89
 11             CL            RM  71.9524
 12             SL            RM  35.7619
 13             BF            RM       21
 14             HY            RM   27.381
 15             SH            RM  22.3333
 16             UC            RM  18.2381
 17             FM            RM  31.1429
 18             CN            RM  21.6667
 19             PH            RM  15.0476
 20             WC            RM  25.4762
 21             LF            RM  7.52381
 22             OR            RM  10.6667
 23             RR            RM  21.3333
 24             OW            RM   23.381
 25             EM            RM  534.619
 26             MT            RM  477.762
 27             PL            RM  391.429
 28             CC            RM  320.857
 29             16            RM  158.905
 ...           ...           ...      ...
 2470           WC            AN  92.8095
 2471           LF            AN  15.6667
 2472           OR            AN  7.95238
 2473           RR            AN  29.4762
 2474           OW            AN   16.619
 2475           EM            AN      479
 2476           MT            AN  362.333
 2477           PL            AN  237.714
 2478           CC            AN  221.333
 2479           16            AN  87.9524
 2480           24            AN  58.6667
 2481           GP            AN  30.1429
 2482           BP            AN  31.3333
 2483           DC            AN       38
 2484           CM            AN  13.4762
 2485           CV            AN  1.38095
 2486           ED            AN  4.85714
 2487           NC            AN  20.1905
 2488           WP            AN  25.5238
 2489           SS            AN  18.8095
 2490           SB            AN  21.9048
 2491           SO            AN  93.2857
 2492           MB            AN   15.619
 2493           WD            AN  2.42857
 2494           OA            AN  19.3333
 2495           WS            AN  7.95238
 2496           ML            AN        0
 2497           BE            AN        0
 2498           PC            AN  18.8571
 2499           AN            AN   25.619

 [2500 rows x 3 columns],      Exit_Station Entry_Station  2018-08
 0              RM            RM  14.8261
 1              EN            RM  120.696
 2              EP            RM   84.087
 3              NB            RM  66.8261
 4              BK            RM  438.348
 5              AS            RM  100.217
 6              MA            RM  145.652
 7              19            RM  171.261
 8              12            RM  216.348
 9              LM            RM   40.087
 10             FV            RM  90.5217
 11             CL            RM  95.3043
 12             SL            RM  36.3913
 13             BF            RM  21.1304
 14             HY            RM  35.1739
 15             SH            RM  22.7391
 16             UC            RM  18.6957
 17             FM            RM   33.913
 18             CN            RM  21.7391
 19             PH            RM  16.3913
 20             WC            RM  24.6522
 21             LF            RM  7.47826
 22             OR            RM  9.47826
 23             RR            RM  23.6957
 24             OW            RM  21.4348
 25             EM            RM  520.826
 26             MT            RM  492.304
 27             PL            RM  392.652
 28             CC            RM  330.565
 29             16            RM  158.391

In [8]:
# Merge the 12 dataframes based on exit and entry stations
merged = reduce(lambda left, right: pd.merge(left, right, 
                                             on = ["Exit_Station", "Entry_Station"],
                                             how = "outer"), df_list4)
merged.head()

,Exit_Station,Entry_Station,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12
0,RM,RM,12.7619,16.0526,17,13.9048,15.3182,13.9048,15.2381,14.8261,20.1053,16.2273,16.1579,16.1667
1,EN,RM,131.952,135.211,126.136,121.714,122.591,122.476,119.381,120.696,120.053,121.682,106.632,110.333
2,EP,RM,86.4286,93,84.5909,85.9048,94.2273,86.9048,81.619,84.087,88.2632,93.2727,83.4737,84.0556
3,NB,RM,72.381,74.7368,69.0909,70.9048,74.3636,62.381,61.8571,66.8261,78.6842,79.0909,68.1053,61.5556
4,BK,RM,405.619,473.263,449.636,438.524,406.636,410.571,432.619,438.348,496.105,479.864,431.158,363

In [9]:
# Transform the wide dataframe to a long one
merged2 = pd.melt(merged, id_vars = ["Exit_Station", "Entry_Station"],
       value_vars = list(merged.columns[2:]), var_name = "Yr_Mo", value_name = "Avg_Weekday_Trips")
merged2.head()

  Exit_Station Entry_Station    Yr_Mo Avg_Weekday_Trips
0           RM            RM  2018-01           12.7619
1           EN            RM  2018-01           131.952
2           EP            RM  2018-01           86.4286
3           NB            RM  2018-01            72.381
4           BK            RM  2018-01           405.619

In [10]:
# Create functions that extract the year and the month from the Yr_Mo column 
# and place them in separate columns

def str2year(s):
    my_list = s.tolist()
    out = [datetime.strptime(x, '%Y-%m').year for x in my_list]
    return(out)

def str2month(s):
    my_list = s.tolist()
    out = [datetime.strptime(x, '%Y-%m').month for x in my_list]
    return(out)

# Create a new merged dataframe containing the year and the month columns
merged3 = merged2.assign(Year = str2year(merged2["Yr_Mo"]),
               Month = str2month(merged2["Yr_Mo"]))

In [11]:
# Convert month number to month name abbreviation
# Resource: https://stackoverflow.com/a/37625467
merged3["Month"] = merged3["Month"].apply(lambda x: calendar.month_abbr[x])

In [12]:
# Rearrange the column names
merged3 = merged3[["Exit_Station", "Entry_Station", "Yr_Mo",
                   "Year", "Month", "Avg_Weekday_Trips"]]

# Preview the dataframe
merged3.head()

  Exit_Station Entry_Station    Yr_Mo  Year Month Avg_Weekday_Trips
0           RM            RM  2018-01  2018   Jan           12.7619
1           EN            RM  2018-01  2018   Jan           131.952
2           EP            RM  2018-01  2018   Jan           86.4286
3           NB            RM  2018-01  2018   Jan            72.381
4           BK            RM  2018-01  2018   Jan           405.619

In [13]:
ridership = merged3.reset_index()

In [14]:
ridership = ridership.rename(columns = {"index":"ID"})
ridership.head()

   ID Exit_Station Entry_Station    Yr_Mo  Year Month Avg_Weekday_Trips
0   0           RM            RM  2018-01  2018   Jan           12.7619
1   1           EN            RM  2018-01  2018   Jan           131.952
2   2           EP            RM  2018-01  2018   Jan           86.4286
3   3           NB            RM  2018-01  2018   Jan            72.381
4   4           BK            RM  2018-01  2018   Jan           405.619

In [15]:
decimals = 2
ridership['Avg_Weekday_Trips'] = ridership['Avg_Weekday_Trips'].apply(lambda x: round(x, decimals))
ridership.head()

   ID Exit_Station Entry_Station    Yr_Mo  Year Month  Avg_Weekday_Trips
0   0           RM            RM  2018-01  2018   Jan              12.76
1   1           EN            RM  2018-01  2018   Jan             131.95
2   2           EP            RM  2018-01  2018   Jan              86.43
3   3           NB            RM  2018-01  2018   Jan              72.38
4   4           BK            RM  2018-01  2018   Jan             405.62

## Create dataframe containing metadata of the different stations

In [16]:
# Request information from the BART Stations API
response = requests.get("https://api.bart.gov/api/stn.aspx?cmd=stns&key=MW9S-E7SL-26DU-VV8V&json=y")

In [17]:
# Load the json file
station_api = json.loads(response.text)

# Extract the metadata about the stations as a dictionary
station_dict = station_api["root"]["stations"]["station"]

# Convert the dictionary into a dataframe
station_df = pd.DataFrame(station_dict)

# Reformat the names of the counties
counties = {"alameda": "Alameda", "sanfrancisco": "San Francisco", 
          "sanmateo": "San Mateo", "contracosta": "Contra Costa"}

station_df["county"] = station_df["county"].replace(counties)
station_df.head()

,abbr,address,city,county,gtfs_latitude,gtfs_longitude,name,state,zipcode
0,12TH,1245 Broadway,Oakland,Alameda,37.803768,-122.271450,12th St. Oakland City Center,CA,94612
1,16TH,2000 Mission Street,San Francisco,San Francisco,37.765062,-122.419694,16th St. Mission,CA,94110
2,19TH,1900 Broadway,Oakland,Alameda,37.808350,-122.268602,19th St. Oakland,CA,94612
3,24TH,2800 Mission Street,San Francisco,San Francisco,37.752470,-122.418143,24th St. Mission,CA,94110
4,ANTC,1600 Slatten Ranch Road,Antioch,Contra Costa,37.995388,-121.780420,Antioch,CA,94509

In [18]:
# Load the station name Excel sheet and reset the index
stations = pd.read_excel(path + "Station_Names.xls")
stations = stations.reset_index().drop(["index"], axis = 1)

# Rename the columns for brevity
stations.rename(columns = {"Station Name": "name", "Two-Letter Station Code": "abbr2"}, 
                inplace = True)

# Preview the dataframe
stations.head()

  abbr2                  name
0    RM              Richmond
1    EN  El Cerrito Del Norte
2    EP      El Cerrito Plaza
3    NB        North Berkeley
4    BK              Berkeley

In [19]:
# Append new BART stations 
# Pittsburg Center and Antioch stations opened in May 2018
# Milpitas and Berryessa stations projected to open in 2019
list_of_series = [pd.Series(["AN", "Antioch"], index = stations.columns), 
                  pd.Series(["PC", "Pittsburg Center"], index = stations.columns), 
                  pd.Series(["ML", "Milpitas"], index = stations.columns),
                  pd.Series(["BE", "Berryessa"], index = stations.columns)]

stations2 = stations.append(list_of_series, ignore_index= True)
stations2.head()

  abbr2                  name
0    RM              Richmond
1    EN  El Cerrito Del Norte
2    EP      El Cerrito Plaza
3    NB        North Berkeley
4    BK              Berkeley

In [20]:
# Create a dictionary containing station names in "stations" and in "stations_df"
di = {"12th Street / Oakland City Center": "12th St. Oakland City Center", 
      "16th Street Mission": "16th St. Mission", "Montgomery Street": "Montgomery St.",
      "24th Street Mission": "24th St. Mission", "Berkeley": "Downtown Berkeley",
      "19th Street Oakland": "19th St. Oakland", "Bayfair": "Bay Fair", 
      "Civic Center": "Civic Center/UN Plaza", "El Cerrito Del Norte": "El Cerrito del Norte", 
      "North Concord": "North Concord/Martinez", "Powell Street": "Powell St.",
      "Pleasant Hill": "Pleasant Hill/Contra Costa Centre", 
      "Warm Springs": "Warm Springs/South Fremont"}

In [21]:
# Rename the stations names with stations_df names to match the names during the df merge
stations2["name"] = stations2["name"].replace(di)
stations2.head()

  abbr2                  name
0    RM              Richmond
1    EN  El Cerrito del Norte
2    EP      El Cerrito Plaza
3    NB        North Berkeley
4    BK     Downtown Berkeley

In [22]:
# Merge stations and station_df using "name"
metadata = pd.merge(station_df, stations2, on = "name", how = "outer")

# Create a column for the ID
metadata = metadata.reset_index()
metadata = metadata.rename(columns = {"index":"ID"})

# List of coordinate variables
coords = ["gtfs_latitude", "gtfs_longitude"]

# Convert lat and long from string to float
metadata[coords] = metadata[coords].apply(pd.to_numeric, errors = "coerce")
metadata.head()

,ID,abbr,address,city,county,gtfs_latitude,gtfs_longitude,name,state,zipcode,abbr2
0,0,12TH,1245 Broadway,Oakland,Alameda,37.803768,-122.271450,12th St. Oakland City Center,CA,94612,12
1,1,16TH,2000 Mission Street,San Francisco,San Francisco,37.765062,-122.419694,16th St. Mission,CA,94110,16
2,2,19TH,1900 Broadway,Oakland,Alameda,37.808350,-122.268602,19th St. Oakland,CA,94612,19
3,3,24TH,2800 Mission Street,San Francisco,San Francisco,37.752470,-122.418143,24th St. Mission,CA,94110,24
4,4,ANTC,1600 Slatten Ranch Road,Antioch,Contra Costa,37.995388,-121.780420,Antioch,CA,94509,AN

## Load the processed data in a MySQL database

In [23]:
# create a connection
conn = "root:{0}@localhost:3306/bart_db".format(password) # Password is in config.py
engine = create_engine(f"mysql://{conn}")

In [24]:
# Confirm presence of tables
engine.table_names()

/anaconda3/envs/PythonData/lib/python3.6/site-packages/pymysql/cursors.py:170: Warning: (3719, "'utf8' is currently an alias for the character set UTF8MB3, but will be an alias for UTF8MB4 in a future release. Please consider using UTF8MB4 in order to be unambiguous.")
  result = self._query(query)

['metadata', 'ridership']

In [25]:
# Load dataframes into tables
ridership.to_sql(name='ridership', con=engine, if_exists='replace', index=False)
metadata.to_sql(name='metadata', con=engine, if_exists='replace', index=False)

In [26]:
# Read the table contents (for ridership)
pd.read_sql_query("select * from ridership", con = engine).head()

   ID Exit_Station Entry_Station    Yr_Mo  Year Month  Avg_Weekday_Trips
0   0           RM            RM  2018-01  2018   Jan              12.76
1   1           EN            RM  2018-01  2018   Jan             131.95
2   2           EP            RM  2018-01  2018   Jan              86.43
3   3           NB            RM  2018-01  2018   Jan              72.38
4   4           BK            RM  2018-01  2018   Jan             405.62

In [27]:
# Read the table contents (for metadata)
pd.read_sql_query("select * from metadata", con = engine)

,ID,abbr,address,city,county,gtfs_latitude,gtfs_longitude,name,state,zipcode,abbr2
0,0,12TH,1245 Broadway,Oakland,Alameda,37.803768,-122.271450,12th St. Oakland City Center,CA,94612,12
1,1,16TH,2000 Mission Street,San Francisco,San Francisco,37.765062,-122.419694,16th St. Mission,CA,94110,16
2,2,19TH,1900 Broadway,Oakland,Alameda,37.808350,-122.268602,19th St. Oakland,CA,94612,19
3,3,24TH,2800 Mission Street,San Francisco,San Francisco,37.752470,-122.418143,24th St. Mission,CA,94110,24
4,4,ANTC,1600 Slatten Ranch Road,Antioch,Contra Costa,37.995388,-121.780420,Antioch,CA,94509,AN
5,5,ASHB,3100 Adeline Street,Berkeley,Alameda,37.852803,-122.270062,Ashby,CA,94703,AS
6,6,BALB,401 Geneva Avenue,San Francisco,San Francisco,37.721585,-122.447506,Balboa Park,CA,94112,BP
7,7,BAYF,15242 Hesperian Blvd.,San Leandro,Alameda,37.696924,-122.126514,Bay Fair,CA,94578,BF
8,8,CAST,3301 Norbridge Dr.,Castro Valley,Alameda,37.690746,-122.075602,Castro Valley,CA,94546,CV
9,9,CIVC,1150 Market Street,San Francisco,San Francisco,37.779732,-122.414123,Civic Center/UN Plaza,CA,94102,CC
10,10,COLS,7200 San Leandro St.,Oakland,Alameda,37.753661,-122.196869,Coliseum,CA,94621,CL
11,11,COLM,365 D Street,Colma,San Mateo,37.684638,-122.466233,Colma,CA,94014,CM
12,12,CONC,1451 Oakland Avenue,Concord,Contra Costa,37.973737,-122.029095,Concord,CA,94520,CN
13,13,DALY,500 John Daly Blvd.,Daly City,San Mateo,37.706121,-122.469081,Daly City,CA,94014,DC
14,14,DBRK,2160 Shattuck Avenue,Berkeley,Alameda,37.870104,-122.268133,Downtown Berkeley,CA,94704,BK
15,15,DUBL,5801 Owens Dr.,Pleasanton,Alameda,37.701687,-121.899179,Dublin/Pleasanton,CA,94588,ED
16,16,DELN,6400 Cutting Blvd.,El Cerrito,Contra Costa,37.925086,-122.316794,El Cerrito del Norte,CA,94530,EN
17,17,PLZA,6699 Fairmount Avenue,El Cerrito,Contra Costa,37.902632,-122.298904,El Cerrito Plaza,CA,94530,EP
18,18,EMBR,298 Market Street,San Francisco,San Francisco,37.792874,-122.397020,Embarcadero,CA,94111,EM
19,19,FRMT,2000 BART Way,Fremont,Alameda,37.557465,-121.976608,Fremont,CA,94536,FM
20,20,FTVL,3401 East 12th Street,Oakland,Alameda,37.774836,-122.224175,Fruitvale,CA,94601,FV
21,21,GLEN,2901 Diamond Street,San Francisco,San Francisco,37.733064,-122.433817,Glen Park,CA,94131,GP
22,22,HAYW,699 'B' Street,Hayward,Alameda,37.669723,-122.087018,Hayward,CA,94541,HY
23,23,LAFY,3601 Deer Hill Road,Lafayette,Contra Costa,37.893176,-122.124630,Lafayette,CA,94549,LF
24,24,LAKE,800 Madison Street,Oakland,Alameda,37.797027,-122.265180,Lake Merritt,CA,94607,LM
25,25,MCAR,555 40th Street,Oakland,Alameda,37.829065,-122.267040,MacArthur,CA,94609,MA
26,26,MLBR,200 North Rollins Road,Millbrae,San Mateo,37.600271,-122.386702,Millbrae,CA,94030,MB
27,27,MONT,598 Market Street,San Francisco,San Francisco,37.789405,-122.401066,Montgomery St.,CA,94104,MT
28,28,NBRK,1750 Sacramento Street,Berkeley,Alameda,37.873967,-122.283440,North Berkeley,CA,94702,NB
29,29,NCON,3700 Port Chicago Highway,Concord,Contra Costa,38.003193,-122.024653,North Concord/Martinez,CA,94520,NC
30,30,OAKL,4 Airport Drive,Oakland,Alameda,37.713238,-122.212191,Oakland International Airport,CA,94621,OA
31,31,ORIN,11 Camino Pablo,Orinda,Contra Costa,37.878361,-122.183791,Orinda,CA,94563,OR
32,32,PITT,1700 West Leland Road,Pittsburg,Contra Costa,38.018914,-121.945154,Pittsburg/Bay Point,CA,94565,WP
33,33,PCTR,2099 Railroad Avenue,Pittsburg,Contra Costa,38.016941,-121.889457,Pittsburg Center,CA,94565,PC
34,34,PHIL,1365 Treat Blvd.,Walnut Creek,Contra Costa,37.928468,-122.056012,Pleasant Hill/Contra Costa Centre,CA,94597,PH
35,35,POWL,899 Market Street,San Francisco,San Francisco,37.784471,-122.407974,Powell St.,CA,94102,PL
36,36,RICH,1700 Nevin Avenue,Richmond,Contra Costa,37.936853,-122.353099,Richmond,CA,94801,RM
37,37,ROCK,5660 College Avenue,Oakland,Alameda,37.844702,-122.251371,Rockridge,CA,94618,RR
38,38,SBRN,1151 Huntington Avenue,San Bruno,San Mateo,37.637761,-122.416287,San Bruno,CA,94066,SB
39,39,SFIA,"International Terminal, Level 3",San Francisco Int'l Airport,San Mateo,37.615966,-122.392409,San Francisco International Airport,CA,94128,SO
40,40,SANL,1401 San Leandro Blvd.,San Leandro,Alameda,37.721947,-122.160844,San Leandro,CA,94577,SL
41,41,SHAY,28601 Dixon Street,Hayward,Alameda,37.634375,-122.057189,South Hayward,CA,94544,SH
42,42,SSAN,1333 Mission Road,South San Francisco,San Mateo,37.664245,-122.443960,South San Francisco,CA,94080,SS
43,43,UCTY,10 Union Square,Union City,Alameda,37.590630,-122.017388,Union City,CA,94587,UC
44,44,WCRK,200 Ygnacio Valley Road,Walnut Creek,Contra Costa,37.905522,-122.067527,Walnut Creek,CA,94596,WC
45,45,WARM,45193 Warm Springs Blvd,Fremont,Alameda,37.502171,-121.939313,Warm Springs/South Fremont,CA,94539,WS
46,46,WDUB,6501 Golden Gate Drive,Dublin,Alameda,37.699756,-121.928240,West Dublin/Pleasanton,CA,94568,WD
47,47,WOAK,1451 7th Street,Oakland,Alameda,37.804872,-122.295140,West Oakland,CA,94607,OW
48,48,None,None,None,None,NaN,NaN,Milpitas,None,None,ML
49,49,None,None,None,None,NaN,NaN,Berryessa,None,None,BE